// app global css in SCSS form

.text-small {
  font-size: x-small !important;
}

.text-smaller {
  font-size: xx-small;
}

.flex-break {
  flex: 1 0 100% !important;
}

.primary-form {
  background-color: #7a97ff5e;
}

.secondary-form {
  background-color: #6ab2d514;
  color: #263238;
}

.q-field {
  font-size: 12px;
}
.q-field__label {
  font-size: 13px;
}

.q-btn {
  font-size: 13px;
}

$space-base: 10px !default;
